.chat{
    display: flex;
    flex-direction: row;
    height: 100%;

    &-users{
        width: 40%;
        background-color: aliceblue;
        height: 100%;

        &__select{
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            border-bottom: 1px solid #B0AFB5;
            transition: .3s;
            cursor: pointer;

            &:hover{
                background-color: #fff;
            }

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: auto 10px;
            }

            p{
                margin: 0;
            }
        }
    }

    &-messages{
        width: 60%;
        background-color: bisque;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__submit{
            display: flex;
            flex-direction: row;

            input[type="text"]{
                width: 80%;
            }
            input[type="submit"]{
                width: 20%;
            }
        }

        &__wrapper{
            margin-top: auto;
            display: flex;
            flex-direction: column;
            padding: 15px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }

            div{
                background-color: rgb(241, 241, 241);
                border-radius: 15px;
                padding: 10px 7px;
                margin: 10px 0;
                max-width: 70%;
                position: relative;
                padding-bottom: 25px;
                padding-right: 20px;

                p{
                    margin: 0;
                }

                span{
                    font-size: 12px;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                }
            }

            .out{
                margin-left: auto;
            }

            .in{
                margin-right: auto;
            }

            .notification{
                margin: 0 auto;
                background-color: transparent;

                p{
                    font-size: 20px;
                }
            }
        }
    }
}